*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1565c0;
    --lightblue: #5e92f3;
    --darkblue: #003c8f;
    --red: #c62828;
    --lightred: #ff5f52;
    --darkred: #8e0000;
    --white: #ffffff;
    --generaltext: 'B612', sans-serif;
    --titletext: 'Rubik', sans-serif;
  }

body{
    background-color: var(--white);
}

header{
    background-color: var(--darkblue);
    font-family: var(--titletext);
    text-align: center;
    margin-bottom: 1%;
    color: var(--white);
    padding: 1%;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.day-container{
    width: 200px;
    height: 130px;
    margin: 1%;
    border: none;
    color: var(--red);
}

.red{
    background-color: var(--red);
    height: 30px;
}

.text{
    padding: 3%;
    text-align: center;
    font-family: var(--generaltext);
}